# Byte-compiled / caches
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/
.env/

# Local env and secrets
.env
*.env
app_data/
login.json
login_resp.json
register.json
service_device_start.json
uvicorn.pid
uvicorn.out

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python build
build/
dist/
*.egg-info/

# __misc__
*.log
nohup.out

